*
{
    margin: 0;
    padding: 0;
}
header
{

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(background-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    width: 200px;
    padding: 30px;
    height: 20px;
    margin: 10px; 
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}


body
{
    font-family: monospace;
}

.row
{
    max-width: 200px;
    margin: auto;
    
}

.instructions
{
    width: 800px;
    padding: 10px;
    height: 20px;
    margin: 10px; 
}
p
{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase; 
    text-align: center;
}


.dropzone
{
    width: 800px;
    padding: 10px;
    height: 500px;
    margin: 10px; 
}





